{% extends 'base.html'%}
{% load wagtailimages_tags%}
{%block content %}
   <h1 style="align:center;color:green">Latest posts </h1>
<div class="card-columns">
    {% for post in latest_posts %}
    {% image post.blog_image fill-900x1200 as img%}
    <!--this is the content from  the bootstraps-->

    <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
            <div class="col-md-4">
                <a href="{{post.url}}">
                <img src="{{img.url}}" class="card-img" alt="{{image.alt}}">
                </a>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title"> <a href="{{post.url}}">{{post.custom_title}}</a></h5>
                    <p class="card-text"><a href="{{post.url}}"> {{post.content}}</a> </p>
                    <p class="card-text"><small class="text-muted">Last updated 5 mins ago</small></p>
                </div>
            </div>
        </div>
    </div>

    <!--bootstraps content ends here-->
    {%endfor%}
</div>
{%endblock content%}

